a {
    background-color: #f6f6f6;
    color: #101010;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: width 5s;
}
    a:hover {
        background-color: #666666;
        color: #101010;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 300px;
    }
